@page "/Blogs"

<PageTitle>Blogs</PageTitle>

@using ProyectWaterUi.Data.Models;
@using System.Net.Http;
@using System.Net.Http.Json;
@inject HttpClient http


<div class="title">
    <div class="title_content">
        <h1>Blog</h1>
    </div>
    <div class="title_button">
        <a href="/Medidores/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>


@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Uso de Agua</th>
                <th>Titulo</th>
                <th>Ubicacion</th>
                <th>Matricula de medidor</th>
                <th>Usuario</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Blogs in blogs)
            {
                <tr>
                    <td><img src=@Blogs.UrlFoto alt="" width="100" height="100"></td>
                    <td>@Blogs.Uso_Agua</td>
                    <td>@Blogs.Opinion</td>                    
                    <td>@Blogs.Ubicacion</td>
                    <td>@Blogs.Id_Medidor_fk</td>
                    <td>@Blogs.Id_usuario</td>
                    <td>
                        <span class="Icon">
                            <a href="/Medidores/update/@Blogs.Id_Blog" class="oi oi-pencil" title="Editar">
                            </a>
                        </span>
                        &nbsp
                        <span class="Icon">
                            <a href="/Medidor/delete/@Blogs.Id_Blog" class="oi oi-trash" title="Borrar">
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Blog";

    private IList<Blogs>? blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = await http.GetFromJsonAsync<IList<Blogs>>(api);
    }
}
